# For syntax learning

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.metrics import root_mean_squared_log_error, root_mean_squared_error

In [28]:
test_df = pd.DataFrame(
        {
            'store': [1,1,1,1,2,2,2,2],
            'date': list(pd.date_range(start='2017-01-01', periods=2, freq='D')) * 4,
            'sales': np.arange(1, 9, 1)
        }
    )

test_df

   store       date  sales
0      1 2017-01-01      1
1      1 2017-01-02      2
2      1 2017-01-01      3
3      1 2017-01-02      4
4      2 2017-01-01      5
5      2 2017-01-02      6
6      2 2017-01-01      7
7      2 2017-01-02      8

In [36]:
test_df.groupby('store').rolling(2, on='date')['sales'].mean()

store  date
1      2017-01-01    NaN
       2017-01-02    1.5
       2017-01-01    2.5
       2017-01-02    3.5
2      2017-01-01    NaN
       2017-01-02    5.5
       2017-01-01    6.5
       2017-01-02    7.5
Name: sales, dtype: float64

In [37]:
date_test = test_df.set_index('date')
date_test['sales_shift1d'] = date_test['sales'].shift(1)
date_test.groupby('store')

            store  sales  sales_shift1d
date
2017-01-01      1      1            NaN
2017-01-02      1      2            1.0
2017-01-01      1      3            2.0
2017-01-02      1      4            3.0
2017-01-01      2      5            4.0
2017-01-02      2      6            5.0
2017-01-01      2      7            6.0
2017-01-02      2      8            7.0

In [4]:
test_factorize = pd.DataFrame({'alphabet': [chr(ord('a') + i) for i in range(5)]})
test_factorize

  alphabet
0        a
1        b
2        c
3        d
4        e